.button {
    border-radius: 8px;
    padding: 10px 22px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-family: 'Stockmann Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 91%;
    color: #FFFFFF;
    background-color: #B5B614;
    border: 1.5px solid #B5B614;
}