.main-menu__link {
    font-size: 16px;
    line-height: 18px;
    padding: 15px 20px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    min-width: auto;
    text-align: center;
    border-radius: 0;
}

.main-menu__link:hover {
    background: #b3b430;
    color: #fff;
}

@media screen and (max-width: 1530px) {
    .main-menu__link {
        font-size: 14px;
    }
}