.section__title {
    font-family: 'Stockmann Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 91%;
    text-transform: uppercase;
    color: #575756;
    margin: 0;
    padding: 20px 0 0;
}