.top-menu__link {
    font-family: 'Stockmann Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 91%;
    color: #686868;
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none;
}

.top-menu__link .icon {
    padding-right: 10px;
}