.top-menu__close {
    background-color: transparent;
    outline: none;
    border: 0;
    width: 26px;
    height: 20px;
    background-image: url(../../images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}