.top-panel__messenger-icon {
    width: 30px;
    height: 30px;
    filter: grayscale(1);
    transition: all .2s linear;
}

.top-panel__messenger:hover .top-panel__messenger-icon {
    filter: none;

}