.mobile-list-buttons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #FBFBFB;
    z-index: 2;
    position: relative;
}