.mobile-list-buttons__link {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #575756;
}

.mobile-list-buttons__link:hover {
    color: #B5B614;
}

.mobile-list-buttons__link.active {
    color: #B5B614;
}