.catalog-product__price {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    padding-top: 4px;

}

.catalog-product__price span {
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
}