.catalog-brands__name {
    font-family: 'Stockmann Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 10px 2px;
    margin: 0;
}