.index-slider__subtitle {
    font-family: 'Stockmann Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 91%;
    text-align: center;
    color: #FFFFFF;
    margin: 10px 0 0;
    padding: 0;
}